@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;800;900&family=Roboto:ital,wght@0,100;0,300;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #EDCB54;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.navbar .logo{
    width: 60px;
    height: 60px;
    grid-column: 2 / 3;
}

.navbar .menu{
    grid-column: 4 / 7;
    display: flex;
    justify-content: space-around;
}

.navbar .menu li{
    list-style: none;
}

.navbar .menu li ul{
    display: none
    
}

.navbar .menu li:hover > ul{
    display: block;
}

.navbar .menu a{
    text-decoration: none;
    color: #181818;
    cursor: pointer;
}

.navbar .menu a:hover {
    color: white;
}

.navbar .menu-bar{
    display: none;
}

.navbar .shopping{
    display: none;
}

.principal {
    width: 1856px;
    height: 760px;
    float: left;
}

.aside {
    width: 185px;
    height: 400px;
    float:right

}